# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual env
venv/
env/
.projet_iris/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow_data/
databases/

# Docker
*.log

# OS
.DS_Store

# scripts 
scripts/
shared/